{% extends "base.html" %}
{% block content %}
{% load static %}
<center>
<section id="myCarousel" class="carousel slide"
	data-ride="carousel" stlye="max-width: 960px;">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0"
			class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<figure class="item active">
			<img src="{% static 'img/rue1.jpg' %}" alt="Join the Pet Portrait Club!" style="max-height: 540px;">
			<figtcaption class="carousel-caption">
			<h1>Join Pet Portrait Club!</h1>
			<p>Alternative text</p>
			<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
		</figtcaption>
		</figure>
		<figure class="item">
			<img src="{% static 'img/rue2.jpg' %}" alt="Join the Pet Portrait Club!" style="max-height: 540px;">
			<figtcaption class="carousel-caption">
			<h1>Share pictures of your closest friend. Commission a portrait!</h1>
			<p>Alternative text</p>
			<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
		</figtcaption>
		</figure>		
		<figure class="item">
			<img src="{% static 'img/rue3.jpg' %}" alt="Join the Pet Portrait Club!" style="max-height: 540px;">
			<figtcaption class="carousel-caption">
			<h1>Share pictures of your closest friend. Commission a portrait!</h1>
			<p>Alternative text</p>
			<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
		</figtcaption>
		</figure>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</section>
</center>
  <div class="container">
    <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
      <div class="col-md-8" style="padding: 1.5em;">
        <h3><em>"We found an artist we loved and got a cute portrait of our Ruby!" ~Julia (Happy customer)</em></h3>
      </div>
      <div class="col-md-4 pull-right">
        <img class="img-circle" src="{% static 'img/julia.jpg' %}" width="140" height="140">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="margin-top: 3em; margin-bottom: 3em;">
      <div class="col-md-4 pull-left" >
        <img class="img-circle" src="{% static 'img/ruby4.jpg' %}" width="140" height="140">
      </div>
      <div class="col-md-8" style="text-align: left">
        <h3><em>"Woof woof." ~Ruby (Pet Portrait friend)</em></h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
      <div class="col-md-8" style="padding: 1.5em;">
        <h3><em>"It's so easy working with Pet Portrait. They handle everything." ~Will (Artist)</em></h3>
      </div>
      <div class="col-md-4 pull-right">
        <img class="img-circle" src="{% static 'img/will.jpg' %}" width="140" height="140">
      </div>
    </div>
  </div>


{% endblock %}